<a href="https://colab.research.google.com/github/augustoberwaldt/BIG-DATA-ANALYTICS-MINERACAO-E-ANALISE-DE-DADOS/blob/main/BIG_A1_LinearRegressionStatsmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# **Tarefa de Aprofundamento 1** 
## CASO: Estimando o Preço de Imóveis em São Paulo
---
<br>
<br>

A partir deste notebook crie um modelo de regressão múltipla com a biblioteca `statsmodels` para predição de preço de imóveis com base no histórico de preços e características de vários imóveis de São Paulo. 

Em seguida, com base nos seus resultados, responda o **questionário do Moodle**.

# Basic imports

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Exploração dos Dados

Entenda os dados disponíveis e em seguida faça as transformações necessárias nos dados. Quantidades dos dados, se existem valores nulos e valores máximos e mínimos dos atributos são algumas explorações comuns.

(Moodle) **Q1**. Quantos bairros existem no histórico e qual o bairro mais presente nos dados?

In [4]:
df = pd.read_excel('http://meusite.mackenzie.br/rogerio/data_load/regressao_preco_imoveis.xlsx')
df.head()

                bairro  areaM2  suites  dormitorios  banheiros  vagas    preco
0  vila-nova-conceicao      32       1            1          1      1   490000
1  vila-nova-conceicao     157       2            2          2      2  3180000
2  vila-nova-conceicao     205       2            3          3      3  1900000
3  vila-nova-conceicao     193       3            3          3      3  3565000
4  vila-nova-conceicao     116       1            3          2      2  1605000

In [5]:
count_bairro = df["bairro"].count()
count_bairro

3741

In [6]:
df["bairro"].value_counts().to_dict()

{'morumbi': 129,
 'paraiso': 802,
 'vila-mariana': 1714,
 'vila-nova-conceicao': 789,
 'vila-sonia': 307}

# Preparação dos Dados

Use [statsmodels.formula.api](https://www.statsmodels.org/dev/generated/statsmodels.formula.api.ols.html)

```
from statsmodels.formula.api import ols   
```

Se você empregar esta forma do `statsmodels` ele fará de modo implítico o hot encode dos dados e não há necessidade de nenhuma transformação dos dados (não faremos a normalização aqui. Embora sempre recomendável na maior parte dos casos, aqui o resultado de predição será o mesmo com o sem a normalização).

Atenção, se você empregar 
```
from statsmodels.api import OLS 
```
os resultados serão os mesmos, mas alguma preparação nos dados será necessária e a construção do modelo será um pouco diferente.

In [ ]:
from statsmodels.formula.api import ols   

df.describe(include="all")
# nada a fazer se estiver empregando a api acima

,bairro,areaM2,suites,dormitorios,banheiros,vagas,preco
count,3741,3741.000000,3741.000000,3741.000000,3741.000000,3741.000000,3.741000e+03
unique,5,NaN,NaN,NaN,NaN,NaN,NaN
top,vila-mariana,NaN,NaN,NaN,NaN,NaN,NaN
freq,1714,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,140.343758,1.700882,2.946271,3.095429,2.225341,1.553746e+06
std,NaN,60.051791,0.994945,0.759292,1.372859,1.000940,1.073607e+06
min,NaN,20.000000,1.000000,1.000000,1.000000,1.000000,2.800000e+05
25%,NaN,94.000000,1.000000,3.000000,2.000000,1.000000,8.500000e+05
50%,NaN,130.000000,1.000000,3.000000,3.000000,2.000000,1.200000e+06
75%,NaN,180.000000,2.000000,3.000000,4.000000,3.000000,1.880000e+06
max,NaN,299.000000,6.000000,6.000000,9.000000,5.000000,8.000000e+06

# Estimando o modelo com o `statsmodels`

Estime o modelo.

(Moodle) **Q2**. Qual o coeficiente de determinação ajustado obtido?

Dica: empregue `result.rsquared_adj` no lugar de `result.summary()` para obter resultados com maior precisão.

(Moodle) **Q3**. Qual coeficiente estimado é menos significativo?

In [9]:
# seu código

import statsmodels.formula.api as sm 

model_1 = sm.ols(formula= "preco ~ bairro + areaM2 + suites	+ dormitorios	+ banheiros	+ vagas", data = df)

result_1 = model_1.fit()

#print(result_1.rsquared_adj())
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  preco   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.795
Method:                 Least Squares   F-statistic:                     1611.
Date:                Thu, 12 May 2022   Prob (F-statistic):               0.00
Time:                        04:59:41   Log-Likelihood:                -54290.
No. Observations:                3741   AIC:                         1.086e+05
Df Residuals:                    3731   BIC:                         1.087e+05
Df Model:                           9
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      -3.16e+05   5.35e+04     -5.911      0.000   -4.21e+05   -2.11e+05
bairro[T.paraiso]              8.331e+04   4.68e+04      1.781      0.075   -8410.743    1.75e+05
bairro[T.vila-mariana]         -1.18e+05   4.44e+04     -2.657      0.008   -2.05e+05   -3.09e+04
bairro[T.vila-nova-conceicao]  7.698e+05   4.66e+04     16.502      0.000    6.78e+05    8.61e+05
bairro[T.vila-sonia]          -5.245e+05   5.13e+04    -10.234      0.000   -6.25e+05   -4.24e+05
areaM2                         7580.2937    241.143     31.435      0.000    7107.508    8053.079
suites                         1.532e+05   1.33e+04     11.524      0.000    1.27e+05    1.79e+05
dormitorios                   -9.971e+04    1.5e+04     -6.655      0.000   -1.29e+05   -7.03e+04
banheiros                      4755.9925   8373.499      0.568      0.570   -1.17e+04    2.12e+04
vagas                          3.331e+05   1.36e+04     24.503      0.000    3.06e+05     3.6e+05
==============================================================================
Omnibus:                     1315.549   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12370.154
Skew:                           1.401   Prob(JB):                         0.00
Kurtosis:                      11.457   Cond. No.                     1.89e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Re-estimando o modelo com o `statsmodels`

Estime novamente o modelo excluindo o atributo menos significativo (um único atributo).

(Moodle) **Q4**. Qual o novo coeficiente de determinação ajustado obtido?

In [ ]:
# seu código

import statsmodels.formula.api as sm 

model_2 = sm.ols(formula= ... )

result_2 = ...

print()
print(result_2.summary())

# Predição

Faça a predição do preço, com o melhor dos modelos obtidos acima, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas.

(Moodle) **Q5**. Qual o preço estimado, para o melhor dos modelos obtidos, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas?

In [ ]:
# seu código