<a href="https://colab.research.google.com/github/augustoberwaldt/BIG-DATA-ANALYTICS-MINERACAO-E-ANALISE-DE-DADOS/blob/main/BIG_A1_LinearRegressionStatsmodels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# **Tarefa de Aprofundamento 1** 
## CASO: Estimando o Preço de Imóveis em São Paulo
---
<br>
<br>

A partir deste notebook crie um modelo de regressão múltipla com a biblioteca `statsmodels` para predição de preço de imóveis com base no histórico de preços e características de vários imóveis de São Paulo. 

Em seguida, com base nos seus resultados, responda o **questionário do Moodle**.

# Basic imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Exploração dos Dados

Entenda os dados disponíveis e em seguida faça as transformações necessárias nos dados. Quantidades dos dados, se existem valores nulos e valores máximos e mínimos dos atributos são algumas explorações comuns.

(Moodle) **Q1**. Quantos bairros existem no histórico e qual o bairro mais presente nos dados?

In [2]:
df = pd.read_excel('http://meusite.mackenzie.br/rogerio/data_load/regressao_preco_imoveis.xlsx')
df.head()

                bairro  areaM2  suites  dormitorios  banheiros  vagas    preco
0  vila-nova-conceicao      32       1            1          1      1   490000
1  vila-nova-conceicao     157       2            2          2      2  3180000
2  vila-nova-conceicao     205       2            3          3      3  1900000
3  vila-nova-conceicao     193       3            3          3      3  3565000
4  vila-nova-conceicao     116       1            3          2      2  1605000

In [3]:
count_bairro = df["bairro"].count()
count_bairro

3741

In [4]:
df["bairro"].value_counts().to_dict()

{'morumbi': 129,
 'paraiso': 802,
 'vila-mariana': 1714,
 'vila-nova-conceicao': 789,
 'vila-sonia': 307}

# Preparação dos Dados

Use [statsmodels.formula.api](https://www.statsmodels.org/dev/generated/statsmodels.formula.api.ols.html)

```
from statsmodels.formula.api import ols   
```

Se você empregar esta forma do `statsmodels` ele fará de modo implítico o hot encode dos dados e não há necessidade de nenhuma transformação dos dados (não faremos a normalização aqui. Embora sempre recomendável na maior parte dos casos, aqui o resultado de predição será o mesmo com o sem a normalização).

Atenção, se você empregar 
```
from statsmodels.api import OLS 
```
os resultados serão os mesmos, mas alguma preparação nos dados será necessária e a construção do modelo será um pouco diferente.

In [6]:
from statsmodels.formula.api import ols   

df.describe(include="all")
# nada a fazer se estiver empregando a api acima

,bairro,areaM2,suites,dormitorios,banheiros,vagas,preco
count,3741,3741.000000,3741.000000,3741.000000,3741.000000,3741.000000,3.741000e+03
unique,5,NaN,NaN,NaN,NaN,NaN,NaN
top,vila-mariana,NaN,NaN,NaN,NaN,NaN,NaN
freq,1714,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,140.343758,1.700882,2.946271,3.095429,2.225341,1.553746e+06
std,NaN,60.051791,0.994945,0.759292,1.372859,1.000940,1.073607e+06
min,NaN,20.000000,1.000000,1.000000,1.000000,1.000000,2.800000e+05
25%,NaN,94.000000,1.000000,3.000000,2.000000,1.000000,8.500000e+05
50%,NaN,130.000000,1.000000,3.000000,3.000000,2.000000,1.200000e+06
75%,NaN,180.000000,2.000000,3.000000,4.000000,3.000000,1.880000e+06
max,NaN,299.000000,6.000000,6.000000,9.000000,5.000000,8.000000e+06

# Estimando o modelo com o `statsmodels`

Estime o modelo.

(Moodle) **Q2**. Qual o coeficiente de determinação ajustado obtido?

Dica: empregue `result.rsquared_adj` no lugar de `result.summary()` para obter resultados com maior precisão.

(Moodle) **Q3**. Qual coeficiente estimado é menos significativo?

In [5]:
# seu código

import statsmodels.formula.api as sm 

model_1 = sm.ols(formula= "", data = df)

result_1 = model_1.fit()

print(result.rsquared_adj())
print(result_1.summary())

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

PatsyError: ignored

# Re-estimando o modelo com o `statsmodels`

Estime novamente o modelo excluindo o atributo menos significativo (um único atributo).

(Moodle) **Q4**. Qual o novo coeficiente de determinação ajustado obtido?

In [ ]:
# seu código

import statsmodels.formula.api as sm 

model_2 = sm.ols(formula= ... )

result_2 = ...

print()
print(result_2.summary())

# Predição

Faça a predição do preço, com o melhor dos modelos obtidos acima, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas.

(Moodle) **Q5**. Qual o preço estimado, para o melhor dos modelos obtidos, de um imóvel na Vila Mariana, com 134 m2, 1 suite, 4 dorm, 3 banheiros e 3 vagas?

In [ ]:
# seu código